<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2017 anno Domini.
  ~
  ~ Code below is a part of
  ~ https://github.com/halfiuuu/Notepad_x
  ~ available for use under the
  ~ GNU Affero General Public License v3.0
  ~ as stated in
  ~ https://github.com/halfiuuu/Notepad_x/blob/master/LICENSE
  ~
  ~ Created by Dawid Halfar
  ~ contact possible via halfardawid@gmail.com
  ~
  ~ I'm not sure what else this thing should state... Whatever.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="halfardawid.notepadx">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.text_editor.TextNoteActivity"
            android:parentActivityName=".activity.main.MainActivity" />
        <activity
            android:name=".activity.sketch_editor.SketchActivity"
            android:hardwareAccelerated="true"
            android:parentActivityName=".activity.main.MainActivity" />
        <activity
            android:name=".activity.generic.colorpicker.ColorPickerActivity"
            android:label="@string/change_color"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".activity.sketch_editor.colorpalette.ColorPaletteActivityTab"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".activity.sketch_editor.crop.CropToNumbers"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".activity.general_settings.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".activity.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="halfardawid.notepadx.activity.main.MainActivity" />
        </activity>
        <activity
            android:name=".activity.sketch_editor.brushes.brush_pick.BrushesActivity"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity android:name=".activity.check_list_editor.CheckListActivity"
            android:parentActivityName=".activity.main.MainActivity"/>
        <receiver android:name=".widget.NoS_Receiver">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/note_on_screen_info" />
        </receiver>
        <activity android:name=".widget.NoS_Configure"
            android:label="@string/pick_note_to_display">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
    </application>

</manifest>