<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="halfardawid.notepadx">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.text_editor.TextNoteActivity"
            android:parentActivityName=".activity.main.MainActivity" />
        <activity
            android:name=".activity.sketch_editor.SketchActivity"
            android:hardwareAccelerated="true"
            android:parentActivityName=".activity.main.MainActivity" />
        <activity
            android:name=".activity.colorpicker.ColorPickerActivity"
            android:label="@string/change_color"
            android:theme="@style/PopUpTheme"></activity>
        <activity android:name=".activity.colorpalette.ColorPaletteActivity"
            android:label="@string/pick_color_from_palette"
            android:hardwareAccelerated="true"
            android:theme="@style/PopUpTheme"></activity>
    </application>

</manifest>